.user-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  top: 157px;
  }
  
  .user-table th, .user-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }
  
  .user-table th {
    background-color: #53bd53;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .loading {
    font-style: italic;
    color: gray;
  }
  